*{
    margin: 0;
    padding: 0;
}



header {
    height: 205px;
    max-width: 1880px;
    border-bottom: 5px solid #3f2f0e
    
}

.brownpart{
    background-color: #866e42;
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
}

.mainheader{
    height: 100px;
    width: 100%;
    background-color:#eaddbd;
    display: flex;
    border-top: 5px solid #3f2f0e
}
.emptyspace{
    height: 100px;
    width: 8%;
    background-color: white;
}


.leftheader{
    height: 100%;
    width: 72%;
    display: flex;
    flex-direction: column;
    
}
.middleheader{
    margin-right: 20px;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.rightheader{
    width: 20%;
    height: 100px;
    background-color: white ;

}
.rightheader h3{
    color: #3f2f0e;
    font-family: Helvetica;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: center;
    
}

.leftheader h1, .leftheader h3{
    color:#3f2f0e;
    text-transform: uppercase;
    font-family: Helvetica;
    display: flex;
    height: 100%;
    align-items: center;
    margin-left:20px;
}


main{
    height: 800px;
    max-width: 1880px;
    display: flex;
    
    
}

.empty{
    height: 800px;
    width: 8%;
}

.banner{
    height: 800px;
    width: 75%;
    display: flex;
}

.images img{
 height: 800px;
 width: 1392px;
}


.smallimages img{
    height: 30px;
    width: 35px;
}

.rightsectionbanner{
    width: 19%;
    background-color: #866e42;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.rightsectionbanner button{
    width: 210px;
    padding: 20px;
    font-size: 18px;
    border-left: 10px solid #3f2f0e;
    border-right: 10px solid #3f2f0e;
    align-items: center;
    margin-bottom: 20px;

}


section{
    height: 600px;
    max-width: 1880px;
    display: flex;
    border-bottom: 10px solid #3f2f0e;
}

.emptytwo{
    height: 100%;
    width: 8%;
}

.fourboxes{
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    border: 5px dotted #3f2f02;
}
.categorysection{
    height: 100%;
    width: 17.5%;


}

.onegrid{
    height: 100%;
    width: 50%;
    display: flex;
    border-right: 5px dotted #3f2f02;
}


.topgrid{
 height: 50%;
 display: flex;
 border-bottom: 5px dotted #3f2f0e;

}
.bottomgrid{
    height: 50%;
    display: flex;
}
.leftside{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: right;
}

.leftside img{
    height: 150px;
    width: 200px;
    

}
.leftside h3{
    text-transform: capitalize;
}

.rightside{
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.rightside ul{
    text-transform: capitalize;
    line-height: 2;
    list-style-type: square;
    
}



.rightside button{
    color: white;
    width: 100px;
    margin-bottom: 10px;
    justify-content: center;
    background-color: #3f2f0e;
    height: 30px;
}



.categorysection ul{
display: flex;
flex-direction: column;
margin-bottom: 10px;
margin-left: 40px;
justify-items: left;
justify-content: left;
font-weight: 800;
line-height: 2;
text-transform: capitalize;
font-family: Arial, Helvetica, sans-serif;
}

.categorysection ul li{
    border-bottom: 1px solid #5a5424;
}

.categorysection h1{
    color: white;
    background-color: #5a5424;
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 20px;
    margin-left: 0;

}

.categorysection input{
    margin-left: 50px;
    border: 2px solid #3f2f0e;
    border-radius: 2px;
}

footer{
    margin-top: 20px;
    display: flex;
    height: 100px;
    flex-direction: column;
    background-color: #866e42;
}

.tabs{
    display: flex;
    max-width: 1880px;
    margin-left: 8%;
    height: 50px;
    
}

.tabs h3, .bar {
    padding-right:  30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
}

.copyrighttext{
    margin-left: 8%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}